:root {
  --dark1: #2D3142;
  --dark2: #4F5D75;
  --pale1: #BFC0C0;
  --clear1: #FFFFFF;
  --cta1: #EF8354;
}

body {
  background-color: var(--dark1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: var(--cta1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: var(--clear1);
  font-size: 5em;
  margin-top: 0;
}

.subtitle {
  color: var(--pale1); 
  font-size: 3em;
}

.box {
  background-color: var(--dark2); 
  color: var(--pale1);
  padding: 2em;
  margin: 2em;
  border-radius: 4px;
}

.paragraph {
  font-size: 1em;
  color: var(--pale1)
}

.primary-button {
  background-color: var(--cta1); 
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
}

.secondary-button {
  color: var(--cta1);
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.7em 1.4em;
  border: 2px solid var(--cta1); 
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
}